<!-- Modal -->
<div class="modal fade" id="asesoresForm" tabindex="-1" aria-labelledby="asesoresFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="asesoresFormLabel">{{ title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="frm" id="frm" class="col-12" [formGroup]="frm" (validSubmit)="guardarAsesor()">
          <div class="col-12 form-group">
            <label for="nombre" class="form-label">Nombre de asesor</label>
            <input id="nombre" class="form-control form-control-sm" type="text" maxlength="150" formControlName="nombre_asesor"
              pInputText placeholder="Nombre asesor" />
            <bfv-messages></bfv-messages>
          </div>
          <div class="col-12 mt-2 form-group">
            <label for="nivel" class="form-label">Nivel de experiencia</label>
              <select id="nivel" class="form-select form-select-sm" placeholder="Seleccione un nivel de asesor"
                formControlName="nivel_asesor">
                <option selected value="null" >Seleccione un nivel de experiencia</option>
                <option *ngFor="let nivel of listaNiveles" value="{{ nivel }}">{{ nivel }}</option>
              </select>
            <bfv-messages></bfv-messages>
          </div>
          <div class="col-12 mt-3 d-flex justify-content-end form-group">
            <button type="button" class="btn btn-sm ms-1 btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sm ms-1 btn-dark">Guardar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
